@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.slider-container {
    position: relative;
    width: 100%;
    height: 0; /* Required for padding-bottom hack */
    padding-bottom: 100%; /* 1:1 Aspect Ratio */
    overflow: hidden;
}

.slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.slider-image.active {
    display: block;
    opacity: 1;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent; /* Make background transparent */
    color: white;
    font-size: 2em; /* Make arrows larger */
    padding: 0 10px; /* Adjust padding */
    border-radius: 0; /* Remove border-radius */
    cursor: pointer;
    z-index: 10;
    border: none;
    outline: none;
    opacity: 0; /* Hidden by default */
    pointer-events: none; /* Disable interaction when hidden */
    transition: opacity 0.3s ease-in-out;
}

.slider-container:hover .slider-button {
    opacity: 1; /* Visible on hover */
    pointer-events: auto; /* Enable interaction on hover */
}

.slider-button.prev-button {
    left: 10px;
}

.slider-button.next-button {
    right: 10px;
}

.slider-indicators {
    position: absolute;
    bottom: 10px;
    left: 52%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    z-index: 10;
    justify-content: center; /* Center the indicator dots */
}
